@media screen and (max-width: 800px) {
  #navbar a {
    display: none;
  }
  #navbar img {
    max-width: 75%;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
  #wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

#section-1 {
  background-color: rgb(245, 240, 230);
  display: inline-block;
  scroll-margin-top: 147px;
  padding-left: 10px;
  padding-right: 10px;
}

#section-1 img {
  max-width: 100%;
}

#section-2 {
  background-image: url("bg-orbs-1.jpg");
  color: white;
  display: inline-block;
  scroll-margin-top: 147px;
  padding-left: 10px;
  padding-right: 10px;
}

#section-2 img {
  max-width: 100%;
}

#section-3 {
  background-color: rgb(245, 240, 230);
  display: inline-block;
  scroll-margin-top: 147px;
  padding-left: 10px;
  padding-right: 10px;
}

#section-3 img {
  max-width: 100%;
}

#wrapper {
  display: grid;
  gap: 25px;
  align-items: center;
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  font-size: 28px;
  background-color: white;
}

#navbar #inner {
  max-width: 400px;
}

@media screen and (min-width: 801px) {
  #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  p {
    font-size: 28px;
  }

  #wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

#navbar img {
  width: 400px;
  height: auto;
}

#navbar a:hover {
  background-color: #182b49;
  color: white;
}

.box {
  background-color: #182b49;
  color: white;
  max-height: 500px;
  min-height: 100px;
  overflow: scroll;
}